<app-navbar></app-navbar>
<!--Hero Section-->
<main>
  <section class="hero-section">
    <div class="hero-content flex flex-col gap-7 justify-center items-center h-full">
      <div class="hero-text">
        <h1 class="text-white text-7xl mb-7 text-center">
          <strong
            >Discover
            <span class="relative inline-block mb-3"
              >Tunisia,<svg
                class="absolute w-full"
                viewBox="0 0 200 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2 8 C50 2, 150 2, 198 8"
                  stroke="hsl(210 86% 57%)"
                  stroke-width="3"
                  stroke-linecap="round"
                /></svg></span
          ></strong>
          <br />
          <em class="font-light">Your Way</em>
        </h1>
        <p class="text-center text-gray-300 text-[1.5rem] mb-5">
          Plan unforgettable journeys with.<br />
          Authentic experiences & transparent booking.
        </p>
      </div>

      <div class="flex gap-4">
        <a href="#" class="search-options selected flex gap-1">
          <span>
            <lineicons [icon]="Home2Outlined" [size]="24" [strokeWidth]="1.5"></lineicons> </span
          >Search All</a
        >
        <a href="#" class="search-options flex gap-1">
          <span>
            <lineicons
              [icon]="KnifeFork1Outlined"
              [size]="24"
              [strokeWidth]="1.5"
            ></lineicons> </span
          >Restaurants</a
        >
        <a href="#" class="search-options flex gap-1">
          <span>
            <lineicons
              [icon]="Buildings1Outlined"
              [size]="24"
              [strokeWidth]="1.5"
            ></lineicons> </span
          >Hotels</a
        >
        <a href="#" class="search-options flex gap-1">
          <span>
            <lineicons [icon]="MapMarker5Outlined" [size]="24" [strokeWidth]="1.5"></lineicons>
          </span>
          Tours & Activities</a
        >
        <a href="#" class="search-options flex gap-1"
          ><span>
            <lineicons [icon]="Car2Solid" [size]="24" [strokeWidth]="1.5"></lineicons>
          </span>
          Transport</a
        >
      </div>

      <!--Search bar-->
      <div
        class="hero-search-bar flex justify-center items-center bg-white rounded-full px-2 py-2 pl-4 gap-1"
      >
        <input
          type="text"
          class="text-heading rounded-base block w-125 px-3 py-2.5 placeholder:text-gray-400 focus:outline-none"
          placeholder="Where do you want to go?"
          [(ngModel)]="searchQuery"
          (keydown.enter)="navigateToSearch()"
        />
        <button
          class="text-white bg-brand box-border border border-transparent flex items-center gap-3 hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium font-medium leading-5 rounded-full text-md px-4 py-3 focus:outline-none"
          (click)="navigateToSearch()"
        >
          <lineicons [icon]="Search1Outlined" [size]="20"></lineicons>
          Search
        </button>
      </div>
    </div>
  </section>

  <!--Featured Experiences-->
  <section class="featured-section">
    <div class="flex justify-between items-end p-12 pl-48 pr-48">
      <div class="feautred-text">
        <h2 class="font-bold text-2xl">Featured Experiences</h2>
        <p class="text-gray-500">Hand-picked by our team for an authentic Tunisia</p>
      </div>
      <a routerLink="/view-all" [state]="{ offersList: offersList() }">View All &LongRightArrow;</a>
    </div>

    <div class="cards grid grid-cols-4 gap-6 pl-48 pr-48 pb-12">
      @for (offer of offersList() | slice: 0 : 4; track offer.title) {
        <app-featured-card [item]="offer"></app-featured-card>
      }
    </div>
  </section>

  <!--Popular Destinations-->
  <section class="popular-destinations">
    <div class="cards grid gap-4 pl-48 pr-48 pb-12">
      <div class="feautred-text">
        <h2 class="font-bold text-2xl">Popular Destinations</h2>
        <p class="text-gray-500">Explore the most loved regions of Tunisia</p>
      </div>

      <!--Destination Cards-->
      <div class="grid grid-cols-3 gap-7">
        @for (item of destinationList; track item.title) {
          <app-destination-card [item]="item"></app-destination-card>
        }
      </div>
    </div>
  </section>

  <!--CTA-->
  <section class="cta">
    <div
      class="bg-blue-6 flex flex-col items-center justify-center text-center ml-48 mr-48 mb-12 p-14"
    >
      <span
        class="cta-span inline-flex items-center text-white text-sm font-medium leading-none px-3 py-2 mb-3 rounded-full gap-1.5"
      >
        <lineicons [icon]="Bolt3Solid" [size]="16" [strokeWidth]="1.5"></lineicons>
        AI-Powered Planning
      </span>

      <h2 class="text-4xl text-white font-bold mb-3">
        Your Dream Trip to Tunisia,<br />Planned in Seconds
      </h2>
      <p class="text-gray-200 mb-8">
        Tell us your dates, budget, and interests — our AI combines the best hotels<br />
        restaurants, and experiences into one seamless itinerary.
      </p>

      <button
        type="button"
        class="cta-btn text-blue-6 bg-white hover:bg-gray-200 focus:ring-4 focus:ring-brand-medium font-semibold leading-5 rounded-full text-4xs px-12 py-5 focus:outline-none"
      >
        Create My Itinerary
      </button>
    </div>
  </section>
</main>

<app-footer></app-footer>
