.hero-section {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/hero-tunisia.jpg');
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.search-options {
  color: var(--color-blue-2);
}

.search-options:hover {
  color: var(--color-blue-1);
}

.selected {
  color: white;
  border-bottom: 1px solid white;
}

.location {
  font-size: 16px;
}

.rating,
.price {
  font-size: 16px;
}

.price-per-night {
  font-size: 14px;
}

.cta > div {
  border-radius: 48px;
}

.cta-span {
  background-color: rgba(255, 255, 255, 0.3);
}

.cta-btn {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  to {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
  }
}

.margin-top {
  margin-top: 71px;
}

.link-cards {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
