<a routerLink="/service-details" class="link-cards">
  <div class="card">
    <div class="card-image-wrapper">
      <img
        [src]="item().image_url[0]"
        [alt]="item().title"
        class="w-full h-48 object-cover rounded-t-base"
      />
      <!-- @if (showCategory() && item().category) {
        <span class="category-pill">{{ item().category }}</span>
      } -->
      @if (showFavorite()) {
      <app-favorite-btn [serviceId]="item().id" [size]="'small'"></app-favorite-btn>
      }
    </div>
    <div class="p-4">
      <h3 class="text-xl font-semibold mb-1">{{ item().title }}</h3>
      <p class="location text-gray-400 flex items-center gap-1">
        <lineicons [icon]="MapMarker5Outlined" [size]="18"></lineicons>
        {{ item().location }}
      </p>
      @if (showActions()) {
      <div class="details flex justify-between items-end mb-4">
        <div class="rating text-blue-5 flex items-center gap-1">
          <lineicons [icon]="StarFatSolid" [size]="22"></lineicons>
          <span class="rating-text text-gray-900 font-semibold">{{ item().rating }}</span>
          <span class="rating-count text-gray-400">({{ item().number_of_reviews }})</span>
        </div>
        <p class="price text-gray-900 font-semibold mt-2">
          ${{ item().price }} @if (item().suffixPrice) {
          <span class="price-per-night text-gray-500">{{ item().suffixPrice }}</span>
          }
        </p>
      </div>
      <div class="flex justify-between items-center gap-4">
        <button
          type="button"
          (click)="bookNow($event)"
          class="text-white bg-brand hover:bg-brand-strong box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none w-full text-center cursor-pointer"
        >
          Book Now
        </button>

        <app-favorite-btn [serviceId]="item().id" [size]="'medium'"></app-favorite-btn>
      </div>
      } @else {
      <div class="details flex justify-between items-end mt-3">
        <div class="rating text-blue-5 flex items-center gap-1">
          <lineicons [icon]="StarFatSolid" [size]="20"></lineicons>
          <span class="rating-text text-gray-900 font-semibold">{{ item().rating }}</span>
          <span class="rating-count text-gray-400">({{ item().number_of_reviews }})</span>
        </div>
        <p class="price text-gray-900 font-semibold">
          <!-- @if (item().pricePrefix) {
              {{ item().pricePrefix }}
            } -->
          ${{ item().price }}
        </p>
      </div>
      }
    </div>
  </div>
</a>
