.chart-wrap {
  overflow-x: auto;
}

#provider-sales-chart .apexcharts-tooltip {
  border: 1px solid #dbe2ea !important;
  border-radius: 0.5rem !important;
  box-shadow: none !important;
}

#provider-sales-chart .apexcharts-xaxistooltip {
  display: none !important;
}
